.btn {
  background-color: white;
  /* padding: 10px 20px; */
  border: 2px solid #bbbbbb;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  /* margin: 0.5rem 0.1rem; */
  margin: 5px;
  width: 7rem;
  height: 7rem;
  font-size: 16px;
  font-weight: 400;
  background-size: "cover";
  bottom: 0;
  position: relative;
  transition: bottom 0.4s ease-out;
}

.btnCorrect {
  bottom: -0.3rem;
  background-color: #f07800;
}

.btnWrong {
  bottom: -0.3rem;
  background-color: #007800;
}

.btn:hover {
  box-shadow: var(--active-box-shadow);
  text-shadow: var(--active-text-shadow);
  background-color: pink;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: translate(3px, 3px);
  box-shadow: none;
}

.btn:disabled {
  pointer-events: none;
  box-shadow: var(--disabled-box-shadow);
  opacity: 0.5;
}
